In [1]:
import requests
from bs4 import BeautifulSoup

In [8]:
# !pip install requests

Requirement already satisfied: requests in /home/jupyterlab/conda/lib/python3.6/site-packages (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (2018.11.29)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (2.8)

In [2]:
raw = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [16]:
print(raw.json)

<bound method Response.json of <Response [200]>>

In [3]:
soup = BeautifulSoup(raw.content, 'html.parser')

In [40]:
count = 0
list_row_element = []
concatenate_rows = soup.select('tbody')[0]

In [41]:
for link in concatenate_rows.find_all('td'):
    count+=1
    list_row_element.append(link.get_text().replace("\n",""))

In [42]:
count

867

In [43]:
Postcode = list_row_element[::3]
Borough = list_row_element[1::3]
Neighbourhood = list_row_element[2::3]

In [44]:
import pandas as pd

In [45]:
df = pd.DataFrame({'Postcode':Postcode, 'Borough': Borough, 'Neighbourhood': Neighbourhood})
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [46]:
df_borough = df[df['Borough'] !='Not assigned']
df_borough.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [49]:
for _, row in df_borough.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
        row['Neighbourhood'] = row['Borough']

In [54]:
data = df_borough.copy()
data.shape

(212, 3)

In [55]:
data.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [64]:
data_final = data.groupby(('Postcode','Borough'))['Neighbourhood'].apply(lambda x: ", ".join(x))

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  """Entry point for launching an IPython kernel.

In [67]:
data_final = pd.DataFrame(data_final)
data_final.head()

                                               Neighbourhood
Postcode Borough
M1B      Scarborough                          Rouge, Malvern
M1C      Scarborough  Highland Creek, Rouge Hill, Port Union
M1E      Scarborough       Guildwood, Morningside, West Hill
M1G      Scarborough                                  Woburn
M1H      Scarborough                               Cedarbrae

In [68]:
data_final.shape

(103, 1)