In [1]:
import requests
from bs4 import BeautifulSoup

In [8]:
# !pip install requests

Requirement already satisfied: requests in /home/jupyterlab/conda/lib/python3.6/site-packages (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (2018.11.29)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (2.8)

In [2]:
raw = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [16]:
print(raw.json)

<bound method Response.json of <Response [200]>>

In [3]:
soup = BeautifulSoup(raw.content, 'html.parser')

In [40]:
count = 0
list_row_element = []
concatenate_rows = soup.select('tbody')[0]

In [41]:
for link in concatenate_rows.find_all('td'):
    count+=1
    list_row_element.append(link.get_text().replace("\n",""))

In [42]:
count

867

In [43]:
Postcode = list_row_element[::3]
Borough = list_row_element[1::3]
Neighbourhood = list_row_element[2::3]

In [44]:
import pandas as pd

In [45]:
df = pd.DataFrame({'Postcode':Postcode, 'Borough': Borough, 'Neighbourhood': Neighbourhood})
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [46]:
df_borough = df[df['Borough'] !='Not assigned']
df_borough.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [49]:
for _, row in df_borough.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
        row['Neighbourhood'] = row['Borough']

In [54]:
data = df_borough.copy()
data.shape

(212, 3)

In [55]:
data.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [64]:
data_final = data.groupby(('Postcode','Borough'))['Neighbourhood'].apply(lambda x: ", ".join(x))

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  """Entry point for launching an IPython kernel.

In [65]:
typdata_final

Postcode  Borough
M1B       Scarborough                                            Rouge, Malvern
M1C       Scarborough                    Highland Creek, Rouge Hill, Port Union
M1E       Scarborough                         Guildwood, Morningside, West Hill
M1G       Scarborough                                                    Woburn
M1H       Scarborough                                                 Cedarbrae
M1J       Scarborough                                       Scarborough Village
M1K       Scarborough               East Birchmount Park, Ionview, Kennedy Park
M1L       Scarborough                           Clairlea, Golden Mile, Oakridge
M1M       Scarborough           Cliffcrest, Cliffside, Scarborough Village West
M1N       Scarborough                               Birch Cliff, Cliffside West
M1P       Scarborough         Dorset Park, Scarborough Town Centre, Wexford ...
M1R       Scarborough                                         Maryvale, Wexford
M1S       Scarborough                                                 Agincourt
M1T       Scarborough                   Clarks Corners, Sullivan, Tam O'Shanter
M1V       Scarborough         Agincourt North, L'Amoreaux East, Milliken, St...
M1W       Scarborough                             L'Amoreaux West, Steeles West
M1X       Scarborough                                               Upper Rouge
M2H       North York                                          Hillcrest Village
M2J       North York                               Fairview, Henry Farm, Oriole
M2K       North York                                            Bayview Village
M2L       North York                                   Silver Hills, York Mills
M2M       North York                                    Newtonbrook, Willowdale
M2N       North York                                           Willowdale South
M2P       North York                                            York Mills West
M2R       North York                                            Willowdale West
M3A       North York                                                  Parkwoods
M3B       North York                                            Don Mills North
M3C       North York                           Flemingdon Park, Don Mills South
M3H       North York            Bathurst Manor, Downsview North, Wilson Heights
M3J       North York                            Northwood Park, York University
                                                    ...
M6C       York                                               Humewood-Cedarvale
M6E       York                                              Caledonia-Fairbanks
M6G       Downtown Toronto                                             Christie
M6H       West Toronto                             Dovercourt Village, Dufferin
M6J       West Toronto                                 Little Portugal, Trinity
M6K       West Toronto             Brockton, Exhibition Place, Parkdale Village
M6L       North York                   Maple Leaf Park, North Park, Upwood Park
M6M       York                   Del Ray, Keelesdale, Mount Dennis, Silverthorn
M6N       York                                    The Junction North, Runnymede
M6P       West Toronto                            High Park, The Junction South
M6R       West Toronto                                   Parkdale, Roncesvalles
M6S       West Toronto                                       Runnymede, Swansea
M7A       Queen's Park                                             Queen's Park
M7R       Mississauga                     Canada Post Gateway Processing Centre
M7Y       East Toronto        Business Reply Mail Processing Centre 969 Eastern
M8V       Etobicoke                Humber Bay Shores, Mimico South, New Toronto
M8W       Etobicoke                                      Alderwood, Long Branch
M8X       Etobicoke               The Kingsway, Montgomery Road, Old Mill North
M8Y       Etobicoke           Humber Bay, King's Mill Park, Kingsway Park So...
M8Z       Etobicoke           Kingsway Park South West, Mimico NW, The Queen...
M9A       Etobicoke                                            Islington Avenue
M9B       Etobicoke           Cloverdale, Islington, Martin Grove, Princess ...
M9C       Etobicoke           Bloordale Gardens, Eringate, Markland Wood, Ol...
M9L       North York                                              Humber Summit
M9M       North York                                           Emery, Humberlea
M9N       York                                                           Weston
M9P       Etobicoke                                                   Westmount
M9R       Etobicoke           Kingsview Village, Martin Grove Gardens, Richv...
M9V       Etobicoke           Albion Gardens, Beaumond Heights, Humbergate, ...
M9W       Etobicoke                                                   Northwest
Name: Neighbourhood, Length: 103, dtype: object